# Dependencies
node_modules/
.env
.env.local
.env.*.local

# Build
dist/
build/
out/
cache/

# Foundry
cache/
out/
broadcast/

# Hardhat
artifacts/
typechain/
typechain-types/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
